html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr; /* Uma única coluna para o corpo */
    grid-template-rows: auto auto auto; /* Cabeçalho, Corpo, Rodapé */
    min-height: 100vh; /* Garante que o grid ocupe a altura total da janela */
    margin: 0;
}

header{
    display: flex;
    width: 100%;
    height: 107px;
    padding: 20px 108px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, #010101 61.68%, rgba(1, 1, 1, 0.00) 121.03%);
}
.logo{
    width: 145px; 
    height: 67px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 63px; 
    display: inline-flex
}

.proMove{
    text-align: center; 
    color: #F9F9F9; 
    font-size: 32px; 
    font-family: LED Dot-Matrix; 
    font-weight: 400; 
    text-transform: capitalize; 
    word-wrap: break-word;
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 67px;
    justify-content: center;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    color: #F9F9F9;
    list-style: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    gap: 34px;
    position: absolute;
    right: 593px;
    top: 20px;
}
